body {
  text-align: center;
  background-color: #093030;
  color: white;
}
.container {
  width: 70%;
  margin: 0 auto;
}

.header {
  font-size: 40px;
  padding: 40px 0;
  background-color: #041414;
}

.footer {
  font-size: 20px;
  padding: 40px 0;
  background-color: #041414;
}

.nav {
  margin: 0 50px;
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
}

.image img {
  width: 350px;
  height: 350px;
  border-radius: 30%;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid white;
}

.image {
  margin-top: 15%;
  margin-bottom: 20px;
}

.figure-caption {
  font-size: 18px;
  margin-bottom: 30px;
}

.description p {
  font-size: 24px;
}

.projects-title {
  margin: 50px 0;
  font-size: 30px;
}

.projects-page {
  margin-top: 70px;
}

.key-skills {
  margin: 50px 0;
  font-size: 30px;
}

.skills {
  width: 65%;
  overflow: hidden;
  background: transparent;
  margin: 0 auto;
}

.skills-slider {
  display: flex;
  animation: scroll 25s linear infinite;
}

.skills-slider img {
  width: 100px;
  margin: 0 20px;
  border-radius: 5px;
}

@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.carousal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 80px 0;
}

.carousal-content {
  width: 750px;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0px 0px 18px 17px rgba(4, -4, 0, 0.1);
  text-align: center;
}

.carousal-content p {
  font-size: 20px;
  margin-bottom: 20px;
}

.carousalBtn {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  background-color: #444;
  color: white;
  transition: 0.3s;
}

.carousalBtn:hover {
  background-color: #000;
}

.project-title {
  font-size: 30px;
  margin-bottom: 25px;
}

/* ******************************************************************* */
