body {
  margin: 0 auto;
  text-align: center;
  width: 70%;
  background-color: #093030;
  color: white;
}

.image img {
  width: 350px;
  height: 350px;
  border-radius: 30%;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid white;
}

.image {
  margin-top: 15%;
  margin-bottom: 20px;
}

.figure-caption {
  font-size: 18px;
  margin-bottom: 30px;
}

.description p {
  font-size: 24px;
}

.key-skills {
  margin: 50px 0;
  font-size: 30px;
}

.skills {
  width: 65%;
  overflow: hidden;
  background: transparent;
  margin: 0 auto;
}

.skills-slider {
  display: flex;
  animation: scroll 25s linear infinite;
}

.skills-slider img {
  width: 100px;
  margin: 0 20px;
  border-radius: 5px;
}

@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* ******************************************************************* */
.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}
